USE [master]
GO
/****** Object:  Database [myProject]    Script Date: 5/23/2026 12:17:55 PM ******/
CREATE DATABASE [myProject]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'myProject', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\myProject.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'myProject_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\myProject_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [myProject].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [myProject]
GO
/****** Object:  Table [dbo].[books]    Script Date: 5/23/2026 12:17:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[books](
	[bid] [int] IDENTITY(1,1) NOT NULL,
	[bName] [varchar](250) NOT NULL,
	[bAuthor] [varchar](250) NOT NULL,
	[bPubl] [varchar](250) NOT NULL,
	[bPDate] [varchar](250) NOT NULL,
	[bPrice] [varchar](250) NOT NULL,
	[bQuan] [varchar](250) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[bid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[issues]    Script Date: 5/23/2026 12:17:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[issues](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[std_enroll] [varchar](250) NOT NULL,
	[std_name] [varchar](250) NOT NULL,
	[std_nic] [varchar](250) NOT NULL,
	[std_contact] [bigint] NOT NULL,
	[std_email] [varchar](250) NOT NULL,
	[book_name] [varchar](1250) NOT NULL,
	[book_issue_date] [varchar](250) NOT NULL,
	[book_return_date] [varchar](250) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NewBook]    Script Date: 5/23/2026 12:17:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NewBook](
	[bid] [int] IDENTITY(1,1) NOT NULL,
	[bName] [varchar](250) NOT NULL,
	[bAuthor] [varchar](250) NOT NULL,
	[bPubl] [varchar](250) NOT NULL,
	[bPDate] [varchar](250) NOT NULL,
	[bPrice] [varchar](250) NOT NULL,
	[bQuan] [varchar](250) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[bid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[registers]    Script Date: 5/23/2026 12:17:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[registers](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[username] [varchar](150) NOT NULL,
	[pass] [varchar](150) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[students]    Script Date: 5/23/2026 12:17:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[students](
	[stuid] [int] IDENTITY(1,1) NOT NULL,
	[sname] [varchar](250) NOT NULL,
	[enroll] [varchar](250) NOT NULL,
	[nic] [varchar](250) NOT NULL,
	[contact] [bigint] NOT NULL,
	[email] [varchar](250) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[stuid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[users]    Script Date: 5/23/2026 12:17:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[users](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[username] [varchar](150) NOT NULL,
	[pass] [varchar](150) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[books] ON 

INSERT [dbo].[books] ([bid], [bName], [bAuthor], [bPubl], [bPDate], [bPrice], [bQuan]) VALUES (1, N'PHP', N'Jk patel', N'R and D', N'Monday, March 31, 2025', N'5000', N'10')
INSERT [dbo].[books] ([bid], [bName], [bAuthor], [bPubl], [bPDate], [bPrice], [bQuan]) VALUES (2, N'Java', N'Java.C', N'Syz publ', N'Tuesday, March 18, 2025', N'2500', N'40')
INSERT [dbo].[books] ([bid], [bName], [bAuthor], [bPubl], [bPDate], [bPrice], [bQuan]) VALUES (4, N'Html', N'Abcd', N'rds', N'Saturday, April 5, 2025', N'2500', N'120')
SET IDENTITY_INSERT [dbo].[books] OFF
GO
SET IDENTITY_INSERT [dbo].[issues] ON 

INSERT [dbo].[issues] ([id], [std_enroll], [std_name], [std_nic], [std_contact], [std_email], [book_name], [book_issue_date], [book_return_date]) VALUES (20, N'AC-0002', N'Amal', N'200145965540', 772569741, N'aefgvbjh@gmail.com', N'PHP', N'Wednesday, June 4, 2025', NULL)
INSERT [dbo].[issues] ([id], [std_enroll], [std_name], [std_nic], [std_contact], [std_email], [book_name], [book_issue_date], [book_return_date]) VALUES (21, N'AC-0002', N'Amal', N'200145965540', 772569741, N'aefgvbjh@gmail.com', N'Java', N'Wednesday, June 4, 2025', NULL)
INSERT [dbo].[issues] ([id], [std_enroll], [std_name], [std_nic], [std_contact], [std_email], [book_name], [book_issue_date], [book_return_date]) VALUES (22, N'AC-0002', N'Amal', N'200145965540', 772569741, N'aefgvbjh@gmail.com', N'Html', N'Wednesday, June 4, 2025', NULL)
SET IDENTITY_INSERT [dbo].[issues] OFF
GO
SET IDENTITY_INSERT [dbo].[registers] ON 

INSERT [dbo].[registers] ([id], [username], [pass]) VALUES (1, N'maya', N'0987')
INSERT [dbo].[registers] ([id], [username], [pass]) VALUES (2, N'Anura2', N'4567')
INSERT [dbo].[registers] ([id], [username], [pass]) VALUES (3, N'kamal', N'3333')
SET IDENTITY_INSERT [dbo].[registers] OFF
GO
SET IDENTITY_INSERT [dbo].[students] ON 

INSERT [dbo].[students] ([stuid], [sname], [enroll], [nic], [contact], [email]) VALUES (2, N'Amal', N'AC-0002', N'200145965540', 76985368, N'aefgvbjh@gmail.com')
INSERT [dbo].[students] ([stuid], [sname], [enroll], [nic], [contact], [email]) VALUES (8, N'Pubudu', N'AC-0003', N'200289563274', 709874563, N'pibudu@gmail.com')
INSERT [dbo].[students] ([stuid], [sname], [enroll], [nic], [contact], [email]) VALUES (9, N'darshana', N'AC-0004', N'789654123', 779632478, N'edsa1@gmail.com')
SET IDENTITY_INSERT [dbo].[students] OFF
GO
SET IDENTITY_INSERT [dbo].[users] ON 

INSERT [dbo].[users] ([id], [username], [pass]) VALUES (1, N'Admin', N'1234')
INSERT [dbo].[users] ([id], [username], [pass]) VALUES (5, N'ros', N'111')
INSERT [dbo].[users] ([id], [username], [pass]) VALUES (6, N'Assf', N'435')
SET IDENTITY_INSERT [dbo].[users] OFF
GO
USE [master]
GO
